@*@model IEnumerable<ThucLop.Models.Product>*@

@{
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">
    <title>Quản Lý Sản Phẩm</title>
    <link rel="stylesheet" href="~/Content/Administrator/assets/data-tables/DT_bootstrap.css" />
</head>
<body>
    <!-- page start-->
    <section class="wrapper site-min-height">
        <section class="panel">
            <header class="panel-heading">
                Quản Lý Sản Phẩm
            </header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                    </div>
                    <div class="space15"></div>
                    <button type="button" id="create" class="btn btn-round btn-primary btn-md" data-toggle="modal" data-target="#mycreate">
                        <i class="fa fa-plus"></i>Thêm
                    </button>
                    <button type="button" class="btn btn-round btn-primary btn-md" data-toggle="modal" data-target="#myupdate">
                        <i class="fa fa-pencil-square-o"></i>Sửa
                    </button>
                    <button type="button" class="btn btn-round btn-primary btn-md" data-toggle="modal" data-target="#mydelete">
                        <i class="fa fa-trash-o"></i>Xóa
                    </button>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <span><input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="input-small"></span>
                                </th>
                                <th class="text-center">Ảnh</th>
                                <th class="text-center">Tên Sản Phẩm</th>
                                <th class="text-center">Gía</th>
                                <th class="text-center">Số Lượng</th>
                                <th class="text-center">Ngày Tạo</th>
                                <th class="text-center">Ngày Tạo</th>
                            </tr>
                        </thead>
                        @*@foreach (var item in Model)
                            {
                                <tbody>
                                    <tr class="">
                                        <td class="text-center"><span><input id=" addbehaviorontoastclick" type="checkbox" value="checked" class="input-small"></span></td>
                                        <td class="text-center"><img src="@item.Image" width="30" height="30" /></td>
                                        <td class="text-center">@item.Name</td>
                                        <td class="text-center">@item.Price VNĐ</td>
                                        <td class="text-center">@item.Quantity</td>
                                        <td class="text-center">@item.CreatedDate</td>
                                        <td class="text-center">@item.CreatedDate</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <select class="form-control" name="action" id="action">
                                                <option value="delete">Xóa</option>
                                                <option value="publtime">Đăng sản phẩm</option>
                                                <option value="exptime">Cho hết hạn sản phẩm</option>
                                                <option value="addtoblock">Thêm sản phẩm vào block</option>
                                            </select>
                                            <input type="button" class="btn btn-primary" onclick="nv_main_action(this.form, '19561aa02ccb801383374446d09fc314','Bạn cần chọn ít nhất 1 sản phẩm để thực hiện')" value="Thực hiện">
                                        </td>
                                    </tr>
                                </tfoot>
                            }*@
                    </table>
                </div>
            </div>
        </section>
    </section>


    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="mycreate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm Sản Phẩm</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("_CreateProduct", "Product");
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnthem">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="myupdate" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sửa Sản Phẩm</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("_EditProduct", "Product");
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnedit">Lưu</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="mydelete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Xóa Sản Phẩm</h4>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("_DeleteProduct", "Product");
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/Administrator/js/jquery.js"></script>

    <!-- END JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });
    </script>
    <script language="javascript">
        $("#btnthem").click(function () {
            $.ajax({
                url: '@Url.Action("_CreateProduct", "Product")',
                type: "post",
                success: function () {
                    alert("đâsdasd");
                }
            });
        });
    </script>
    <script language="javascript">
        $("#btnedit").click(function () {
            $.ajax({
                url: '@Url.Action("_EditProduct", "Product")',
                type: "post",
                success: function () {
                    alert("đâsdasd");
                }
            });
        });
    </script>
    <script language="javascript">
        $("#btnDelete").click(function () {
            $.ajax({
                url: '@Url.Action("_DeleteProductConfirmed", "Product")',
                type: "post",
                success: function () {
                    alert("đâsdasd");
                }
            });
        });
    </script>
</body>